<% layout("/layouts/boilerplate") %>
<style>
  .shadow{
    transition: .2s !important;
  }
  .shadow:hover{
    box-shadow: 2px 2px 12px grey !important;
    transform: scale(.95);
  }
  .class{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }
  .class .card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 6rem;
  }
  .class input{
    display: none;
  }
</style>
<body>
  <div class="container py-5">
    <h1>Train Search Results</h1>
    <p>We found the following trains matching your search criteria:</p>
    <div class="row">
        <% for (let train of trains){ %>
        <div class="col-md-6 mb-3">
            <div class="card shadow" >
              <div class="card-body">
                <h5 class="card-title"><%= train.train_number %> : <%= train.train_name %></h5>
                <p class="card-text">
                  From: <%= train.from_station_name %> - To: <%= train.to_station_name %><br>
                  <%= train.from_std %> ----- <%= train.duration %>hrs ----- <%= train.to_sta %> <br>
                </p>
                <div class="class">
                  <% for (let clas of train.class_type){ %>
                    <form class="p-0 m-0" action="/train/book" method="post">
                      <input type="text" name="ob[train_number]" value="<%= train.train_number %>">
                      <input type="text" name="ob[train_name]" value="<%= train.train_name %>">
                      <input type="text" name="ob[from_std]" value="<%= train.from_std %>">
                      <input type="text" name="ob[to_sta]" value="<%= train.to_sta %>">
                      <input type="text" name="ob[from_station_name]" value="<%= train.from_station_name %>">
                      <input type="text" name="ob[to_station_name]" value="<%= train.to_station_name %>">
                      <input type="text" name="ob[train_date]" value="<%= train.train_date %>">
                      <input type="text" name="ob[class_type]" value="<%= clas %>">
                      <input type="text" name="ob[duration]" value="<%= train.duration %>">
                    <button class="card class btn btn-outline-dark" >
                        <%= clas %>
                    </button>
                    </form>
                  <% } %>
                </div>
                <br>
                <a href="#" class="btn btn-dark">Select Seats</a>
              </div>
            </div>
          </div>
        <% } %>

      </div>
  </div>

</body>
